<h1>Posts en favori</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @posts.each do |post| %>
  <div class="col">
    <div class="card">
      <div class="card-header">
        <%if post.user.avatar.url%>
          <a href ="<%= post.user.avatar.url %>"> <%= image_tag post.user.avatar.url,
          class:"rounded-circle", height:60, width:60 %> </a>
          <span class="float-end">
          <%= post.user.name.upcase %></span>
        <%else%>
        <%end%>
      </div>

      <div class="card-body">
        <%= image_tag post.post.illustration.url, class: "card-img-top", height:
        "300px" %>
        <p class="card-text"><%= post.post.description %></p>
      </div>

      <div class="card-footer clearfix">
        <small class="text-muted" style="float: right"><%= post.created_at %></small>
        <%if post.user == current_user %>
          <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning text-dark" %>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Etes-vous sûr?' }, class: "btn btn-danger text-light" %>
        <% else %>
      
        <% end %>    
      </div>
    </div>
  </div>
  <% end %>
</div> <br> <br> <br> <br> <br> <br>
