<header class="p-2 bg-primary text-white fixed-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="navbar-brand d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"><span class="fb">Instagram</span>
            </a>
            <ul class="nav me-lg-auto mb-2 justify-content-center mb-md-0"></ul>

            <% if logged_in? %> 
            <div class="text-end me-4">
                <a href="<%= new_post_path %>" class="btn btn-danger" role="button">Ajouter un Post</a>
            </div>
            <div class="text-end me-4">
                <a href="<%=  %>" class="btn btn-success" role="button">Posts à la urn</a>
            </div>
            <div class="text-end me-4">
                <a href="<%= favorites_path %>" class="btn btn-success" role="button">Mes favoris</a>
            </div>
            <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <% if current_user.avatar? %>
            <%= image_tag current_user.avatar.url, class:"rounded-circle", height:32, width:32, alt:"Avatar" %>
            <% else %>
            <img src="/avatar.png" class="rounded-circle",height="32", width="32", alt="Avatar" >
            <% end %>
            </a>
            <ul class="dropdown-menu text-small text-decoration-none" aria-labelledby="dropdownUser1">
                <li class = "btn btn-secondary m-2 justify-content-center"><a class="dropdown-item" href="/profil">Mon profil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li class ="btn btn-danger m-2 justify-content-center text-decoration-none">
                    <%= link_to "Se déconnecter", session_path(current_user.id), method: :delete, class:"btn" %>
                </li>
            </ul>
            </div>

            <% else %> 
            <div class="text-end text-decoration-none">
            <a class="btn btn-success me-2" href="<%= new_session_path %>" role="button">Se connecter</a>
            <a class="btn btn-warning" href="<%= new_user_path %>" role="button">S'inscrire</a>
            </div> 
            <% end %>
        </div>
    </div>
</header>