<div class="w-50 d-flex flex-column container justify-content-center align-itmes-center" style = "padding-top: 1rem; border: 1px solid;">
<div><img style = "padding-bottom: 1rem;" src="/instagram.png" class="img-fluid" alt="" ></div>

<h1>Mise à jour de mon compte</h1> <br>

<%= form_with(model: @user, url: profil_path, local: true, html: {class:'form-horizontal'}) do |f| %>

   <% if @user.errors.any? %>
        <div class="alert alert-danger" role="alert">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this 
            <%= @user.name %> from being saved:</h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

   <div class="field">
   
    <%= f.file_field :avatar, class: 'form-control' %>
  </div><br>

  <div class="field">
    <%= f.text_field :name, placeholder: 'Nom complet', class: 'form-control' %>
  </div><br>

  <div class="field">
    <%= f.text_field :username, placeholder: "Nom d'utilisateur", class: 'form-control' %>
  </div><br>

  <div class="field">
    <%= f.email_field :email, placeholder: 'E-mail', class: 'form-control' %>
  </div> <br>

  <div class="actions">
    <button class="btn btn-success w-100" type="submit">Modifier </button>
    </div> <br>
<% end %>

<%= link_to 'Show', @user %>
<%= link_to 'Back', users_path %>

</div> <br><br> <br> <br> <br>

