<div class="w-50 d-flex flex-column container justify-content-center align-itmes-center" style = "padding-top: 1rem; border: 1px solid;">
<div><img style = "padding-bottom: 1rem;" src="/instagram.png" class="img-fluid" alt="" ></div>

<p>Inscrivez-vous pour voir les photos de vos amis</p> <br>

<%= form_with(model: @user, local: true, html: {class:'form-horizontal'}) do |f| %>
   <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this 
        <%= @user.name %> from being saved:</h2>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
      
  <div class="field">
    <%= f.email_field :email, placeholder: 'E-mail', class: 'form-control' %>
  </div> <br>

  <div class="field">
    <%= f.text_field :name, placeholder: 'Nom complet', class: 'form-control' %>
  </div><br>

  <div class="field">
    <%= f.text_field :username, placeholder: "Nom d'utilisateur", class: 'form-control' %>
  </div><br>

  <div class="field">
    <%= f.password_field :password, placeholder: 'Mot de passe', class: 'form-control' %>
  </div><br>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: 'Confirmation de mot de passe', class: 'form-control' %>
  </div><br>
  <div class="actions">
    <button class="btn btn-success w-100" type="submit">Inscription </button>
    </div> <br>
<% end %>
</div> <br>

<div class="w-50 d-flex flex-column container justify-content-center align-itmes-center" style = "padding-top: 1rem; border: 1px solid;">
    <p>Vous n'avez pas de compte?  <a class="text-decoration-none m-4" href="">Connectez-vous</a></p>
</div> <br> <br> <br> <br>