<div class="d-flex flex-column container justify-content-center align-itmes-center" style = "padding-top: 1rem;">
      <p id="notice"><%= notice %></p>

      <div class="d-flex flex-column justify-content-center align-itmes-center card text-center" style=""> <br>
        <div class="card-img-top">
            <%= image_tag(@post.illustration.url) if @post.illustration.url%>
        </div>
        <div class="card-body">
            <p class="card-text text-justify"><%= @post.description %></p>
        </div><br>
        <blockquote class="blockquote mb-0">
          <footer class="blockquote-footer">
            Posté par : <cite title="Source Title"><%= @post.user.name %></cite>
          </footer> 
        </blockquote>
      </div>

      <div class="d-flex flex-row justify-content-center align-itmes-center form-actions mb-4"> 
        <% if @post.user == current_user %>
            <a class="btn btn-danger w-25 m-4" href = "<%= edit_post_path(@post)%>">Modifier</a> 
        <% end %>
        <% unless @post.user_id == current_user.id %>
          <% if @favorite.present? %>
            <%= link_to 'Supprimer le favori', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger w-25 m-4' %>
         <% else %>
          <%= link_to 'Ajouter au favoris', favorites_path(post_id: @post.id),method: :post, class: 'btn btn-primary w-25 m-4' %>
          <% end %>
        <% end %>
            <a class="btn btn-primary w-25 m-4" href = "<%= posts_path%>"> Retour</a>        
      </div>
</div> <br> <br><br>
